In [1]:
import pandas as pd
data = pd.read_csv('./../data/prepared_gasoline.csv')

In [2]:
data.head()

,date,weekday,latitude,longitude,e5gas,dautobahn,autobahn,aral,esso,jet,shell,total,rotterdam,brent,wti,eurusd,vehicles
0,2015-03-18,3,51.169201,6.94895,1.38900,316.700775,0,0,0,0,0,0,0.462206,53.718338,44.879154,1.062550,13189.0
1,2015-03-19,4,51.169201,6.94895,1.38900,316.700775,0,0,0,0,0,0,0.463461,55.018974,45.657978,1.070624,13520.0
2,2015-03-20,5,51.169201,6.94895,1.37525,316.700775,0,0,0,0,0,0,0.462932,54.638401,45.969353,1.073676,13247.0
3,2015-03-21,6,51.169201,6.94895,1.35900,316.700775,0,0,0,0,0,0,0.461777,55.160000,46.459999,1.082030,10353.0
4,2015-03-22,0,51.169201,6.94895,1.35900,316.700775,0,0,0,0,0,0,0.460622,55.160000,46.459999,1.082334,9446.0

In [7]:
data['station'] = pd.Categorical(data['longitude'].astype(str) + data['latitude'].astype(str)).codes

In [9]:
data.sort_values(by='station')

,date,weekday,latitude,longitude,e5gas,dautobahn,autobahn,aral,esso,jet,shell,total,rotterdam,brent,wti,eurusd,vehicles,station
6456678,2015-02-27,5,51.157501,10.0002,1.376083,14850.392578,0,0,0,0,0,0,0.466789,61.092094,49.025043,1.120083,13917.0,0
6456586,2014-11-27,4,51.157501,10.0002,1.479000,14850.392578,0,0,0,0,0,0,0.489891,73.713814,69.831779,1.219235,13735.0,0
6456585,2014-11-26,3,51.157501,10.0002,1.476083,14850.392578,0,0,0,0,0,0,0.508586,78.068382,73.896202,1.248444,13164.0,0
6456584,2014-11-25,2,51.157501,10.0002,1.471083,14850.392578,0,0,0,0,0,0,0.513323,79.341034,75.382828,1.244340,13153.0,0
6456583,2014-11-24,1,51.157501,10.0002,1.475250,14850.392578,0,0,0,0,0,0,0.513731,80.268539,76.425217,1.240057,13608.0,0
6456582,2014-11-23,0,51.157501,10.0002,1.482333,14850.392578,0,0,0,0,0,0,0.509824,80.544998,76.650002,1.238886,8626.0,0
6456581,2014-11-22,6,51.157501,10.0002,1.479417,14850.392578,0,0,0,0,0,0,0.505916,80.544998,76.650002,1.238970,8911.0,0
6456587,2014-11-28,5,51.157501,10.0002,1.463583,14850.392578,0,0,0,0,0,0,0.489488,72.063759,68.270416,1.245301,15346.0,0
6456580,2014-11-21,5,51.157501,10.0002,1.469000,14850.392578,0,0,0,0,0,0,0.502009,80.019226,76.434425,1.246261,14798.0,0
6456578,2014-11-19,3,51.157501,10.0002,1.472750,14850.392578,0,0,0,0,0,0,0.514956,78.599579,74.471725,1.252715,13184.0,0
6456577,2014-11-18,2,51.157501,10.0002,1.480250,14850.392578,0,0,0,0,0,0,0.514291,78.896324,75.205299,1.249400,13011.0,0
6456576,2014-11-17,1,51.157501,10.0002,1.487333,14850.392578,0,0,0,0,0,0,0.514753,78.814781,75.348656,1.249100,13839.0,0
6456575,2014-11-16,0,51.157501,10.0002,1.489000,14850.392578,0,0,0,0,0,0,0.513244,79.559998,75.867241,1.252540,8339.0,0
6456574,2014-11-15,6,51.157501,10.0002,1.474417,14850.392578,0,0,0,0,0,0,0.511735,79.559998,75.919998,1.252440,9209.0,0
6456573,2014-11-14,5,51.157501,10.0002,1.484417,14850.392578,0,0,0,0,0,0,0.510226,77.898750,74.520309,1.243601,15186.0,0
6456579,2014-11-20,4,51.157501,10.0002,1.465250,14850.392578,0,0,0,0,0,0,0.504686,78.490822,74.840889,1.253062,13867.0,0
6456572,2014-11-13,4,51.157501,10.0002,1.490667,14850.392578,0,0,0,0,0,0,0.517443,79.820976,76.119011,1.245060,13840.0,0
6456588,2014-11-29,6,51.157501,10.0002,1.445250,14850.392578,0,0,0,0,0,0,0.474086,69.966377,66.050003,1.245250,8968.0,0
6456590,2014-12-01,1,51.157501,10.0002,1.448583,14850.392578,0,0,0,0,0,0,0.443281,70.194092,66.636047,1.246282,13957.0,0
6456604,2014-12-15,1,51.157501,10.0002,1.381500,14850.392578,0,0,0,0,0,0,0.372274,62.049629,57.650646,1.244240,13350.0,0
6456603,2014-12-14,0,51.157501,10.0002,1.381083,14850.392578,0,0,0,0,0,0,0.373534,61.834999,57.759998,1.246319,8327.0,0
6456602,2014-12-13,6,51.157501,10.0002,1.380250,14850.392578,0,0,0,0,0,0,0.374794,61.834999,57.759998,1.246130,8984.0,0
6456601,2014-12-12,5,51.157501,10.0002,1.383583,14850.392578,0,0,0,0,0,0,0.376055,63.042206,58.978397,1.242979,14282.0,0
6456600,2014-12-11,4,51.157501,10.0002,1.381083,14850.392578,0,0,0,0,0,0,0.389327,64.629776,61.090485,1.242979,13299.0,0
6456599,2014-12-10,3,51.157501,10.0002,1.404417,14850.392578,0,0,0,0,0,0,0.394687,65.599449,62.456169,1.240032,12412.0,0
6456589,2014-11-30,0,51.157501,10.0002,1.435667,14850.392578,0,0,0,0,0,0,0.458684,70.014999,66.050003,1.245282,8849.0,0
6456598,2014-12-09,2,51.157501,10.0002,1.403167,14850.392578,0,0,0,0,0,0,0.415336,66.304840,63.281197,1.235419,12755.0,0
6456596,2014-12-07,0,51.157501,10.0002,1.409833,14850.392578,0,0,0,0,0,0,0.418993,69.260002,65.680000,1.228620,8553.0,0
6456595,2014-12-06,6,51.157501,10.0002,1.420667,14850.392578,0,0,0,0,0,0,0.423886,69.260002,65.680000,1.228680,9130.0,0
6456594,2014-12-05,5,51.157501,10.0002,1.406500,14850.392578,0,0,0,0,0,0,0.428779,69.374771,66.290024,1.234173,14709.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1669643,2014-10-22,3,NaN,NaN,1.529000,36252.472656,0,0,0,0,0,0,0.531992,86.132347,82.092690,1.269053,9984.0,14698
6597063,2014-05-16,5,NaN,NaN,1.598909,18272.675781,0,0,0,0,0,0,0.622837,109.424042,101.258553,1.369886,4397.0,14698
1679259,2015-04-05,0,NaN,NaN,0.000000,23004.251953,0,0,0,0,0,0,0.472350,56.215000,49.485611,1.097390,6805.0,14698
6572337,2015-09-11,5,NaN,NaN,1.299000,11900.576172,0,0,0,0,0,0,0.394264,48.897305,45.466057,1.129778,11703.0,14698
3925031,2015-03-16,1,NaN,NaN,1.490000,16074.806641,0,0,0,0,0,0,0.464869,54.301899,46.474087,1.054642,17976.0,14698
7217428,2014-05-16,5,NaN,NaN,1.564714,1332.084351,0,0,0,0,0,0,0.622837,109.424042,101.258553,1.369886,11795.0,14698
1689285,2014-05-19,1,NaN,NaN,1.659000,1005.675476,0,0,0,0,0,0,0.621785,109.838928,102.008537,1.370161,34405.0,14698
1689953,2014-05-23,5,NaN,NaN,1.539000,2368.547363,0,0,0,0,0,0,0.632916,110.280342,103.941528,1.362774,27140.0,14698
6562660,2014-05-16,5,NaN,NaN,1.640000,125.568481,0,0,0,0,0,0,0.622837,109.424042,101.258553,1.369886,9645.0,14698
6561510,2014-05-16,5,NaN,NaN,1.519000,14070.128906,0,0,0,0,0,0,0.622837,109.424042,101.258553,1.369886,51832.0,14698
7219728,2014-05-30,5,NaN,NaN,1.559000,16064.848633,0,0,0,0,0,0,0.627319,109.766846,103.162659,1.360772,9461.0,14698
7221439,2014-08-14,4,NaN,NaN,1.559000,10556.769531,0,0,0,0,0,0,0.597693,103.872002,95.805916,1.336924,9805.0,14698
6552552,2014-05-16,5,NaN,NaN,1.649000,15620.143555,0,0,0,0,0,0,0.622837,109.424042,101.258553,1.369886,6392.0,14698
3920126,2014-10-30,4,NaN,NaN,1.533545,7156.531250,0,0,0,0,0,0,0.535160,86.482872,81.499969,1.260752,80522.0,14698
22268,2014-08-21,4,NaN,NaN,1.559909,12447.063477,0,0,0,0,0,0,0.609042,102.108101,93.475624,1.326595,13719.0,14698
8053852,2014-06-05,4,NaN,NaN,1.550429,4940.780273,0,0,0,0,0,0,0.621226,108.020836,102.358421,1.361180,25662.0,14698
4477771,2015-05-03,0,NaN,NaN,1.419000,1532.703979,0,0,0,0,0,0,0.517538,66.529999,59.240002,1.119620,5782.0,14698
528569,2014-05-26,1,NaN,NaN,1.535000,7082.270996,0,0,0,0,0,0,0.631010,110.166321,104.195755,1.363538,10800.0,14698
5167268,2015-09-03,4,NaN,NaN,1.369000,36091.167969,0,0,0,0,0,0,0.436106,50.625042,46.468742,1.118381,14932.0,14698
4474758,2014-05-16,5,NaN,NaN,1.579000,969.275635,0,0,0,0,0,0,0.622837,109.424042,101.258553,1.369886,25343.0,14698
4473633,2014-06-10,2,NaN,NaN,1.559000,15821.793945,0,0,0,0,0,0,0.632055,109.558220,104.009064,1.356600,19131.0,14698
530637,2015-05-04,1,NaN,NaN,1.517000,11980.708984,0,0,0,0,0,0,0.517494,66.545601,59.086182,1.116600,13999.0,14698
8237616,2015-01-13,2,NaN,NaN,1.275000,7157.051758,0,0,0,0,0,0,0.321701,47.517910,45.981819,1.180800,77942.0,14698
1710692,2015-06-17,3,NaN,NaN,1.459000,1412.278931,0,0,0,0,0,0,0.538658,63.986240,60.630959,1.126916,12586.0,14698
1719205,2015-08-21,5,NaN,NaN,1.449000,7511.164551,0,0,0,0,0,0,0.405564,46.008244,40.821938,1.129593,8860.0,14698
1725760,2014-12-31,3,NaN,NaN,1.311500,11335.153320,0,0,0,0,0,0,0.361464,56.994465,53.412399,1.213736,6156.0,14698
1726017,2015-02-02,1,NaN,NaN,1.229000,783.135010,0,0,0,0,0,0,0.389367,53.029068,48.192951,1.130951,21240.0,14698
2875872,2014-06-03,2,NaN,NaN,1.556143,12297.013672,0,0,0,0,0,0,0.625155,108.729271,102.508720,1.361423,62899.0,14698
7751825,2014-05-16,5,NaN,NaN,1.525364,14161.533203,0,0,0,0,0,0,0.622837,109.424042,101.258553,1.369886,20600.0,14698
3325498,2014-06-23,1,NaN,NaN,1.559000,11440.167969,0,0,0,0,0,0,0.661769,114.679771,106.610451,1.359607,15905.0,14698